.nav{
    grid-area: n;
    background-color: #19232D;
    text-align: center;
    padding-top: 10px;
    font-size: 35px;
}

.nav__item a{
   color: #fff;
   text-decoration: none;
}

.nav a:hover{
    cursor: pointer;
    font-size: 36px;
    color: gold;
    transition: all .5s;
}
.nav a.active{
    color: gold;

}
.nav a {
	position: relative;
	cursor: pointer;
	line-height: 1; 
	text-decoration: none;

}
.nav a:after {
	display: block;
	position: absolute;
	left: 0; 
	width: 0;
	height: 2px;
	background-color: gold; 
	content: "";
	transition: width 0.3s ease-out;
}

.nav a:hover:after,
.nav a:focus:after {
	width: 100%; 
}