.profileStatus{
	position: relative;
	float: right;
	margin-right: 100px;
	top: -200px;
}

.profileStatus span, .profileStatus input{
	user-select: none;
	border-radius: 20px;
	background-color: transparent;
	border: 0px;
	color: white;
	font-size: 20px;
}

.profileStatus span{
	padding-right: 206px;
}

